.login > img{
    width: 15%;
    margin-top : 15px;
    margin-bottom: 15px
}
.login > input{
    margin-top: 10px;
    border-radius: 10px;
    height: 20px;
    border-style: solid;

}
.login > button{
    padding: 5px;
    margin-top: 10px;
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    color: black;
    background-color: gold;
    font-size:15px ;
    margin-left: 5px;
}
.myFooter{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}
